<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <% var dir=process.cwd() %>
    <style>
      <%- include(dir + '/public/css/tailwind.min.css') %>
    </style>
  </head>
  <body>
    <p>Hey <%= locals.name %>,</p>
    <p>Please click below to confirm your email</p>
    <p>
      <a href="<%= locals.url %>">Confirm</a>
    </p>
    <p>If you did not request this email you can safely ignore it.</p>
  </body>
</html>
